<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <script type="module" crossOrigin src="/assets/index-0e2c678e.js"></script>
    <link rel="stylesheet" href="/assets/index-9977e249.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
    



{% schema %}
{
  "name": "discountBxGy",
  "target": "body",
  "enabled_on": {
      "templates": ["*"]
    },
  "stylesheet": "app.css",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}



